body {
    font-size: 34px;
}
.xxsmall {
    font-size: 10px;         
}
.xsmall {
    font-size: 20px;
}
.small {
    font-size: 30px;
}
.medium {
    font-size: 40px;
}
.large {
    font-size: 50px;
}
.xlarge {
    font-size: 90px;
}
.xxlarge {
    font-size: 170px;
}